body {
    background-color: white;
    font-family: "Roboto", sans-serif;
  }
  
  .login-box {
    width: 360px;
    height: 370px;
    margin: auto; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    border: 1px solid #005F69;
  }
  
  h1 {
    text-align: center;
    padding-top: 12px;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 90%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 40px;
    outline: none;
  }

  p {
    text-align: center;
    /* padding-top: 20px; */
    font-size: 12px;
  }
  
  button{
    color:white;
    width: 140px;
    padding:7px;
    border-radius: 40px;
    background-color: #005F69;
    border: 1px solid #005F69;
    font-size: 12px;
  }
  
  